.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.accordion{
    width: 500px;
}

.item{
    background-color: aquamarine;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

span{
    background-color: rgb(15, 1, 1);
    height: 20px;
    width: 20px;
    color: wheat;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.title{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: rgb(15, 1, 1);
    height: 50px;
    width: 250px;
    color: wheat;
    border-radius:20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    
    text-transform: uppercase;
}